/*
All
*/

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: black;
  color: white;  
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

.float-right {
  float: right;
}

/*
Nav
*/

.nav--container {
  padding: 16px;
  background: black;
  color: white;
  border-bottom: 1px solid #222;
  border-radius: 0;
}

.nav--logo {
  font-weight: bold;
  color: orange;
  float: left;
}

.nav--signin {
  text-align: right;
}

.nav--signin a {
  color: white;
  text-decoration: none;
}

/* 
Footer
*/

.footer--container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px 16px;
  color: white;
  background: black;
  width: 100%;
  border-top: 1px solid #222;
  border-radius: 0;
}

.footer--container a {
  color: white;
  float: right;
  margin-left: 16px;
  text-decoration: none;
}

/*
AllPosts
*/

.home--container h3 {
  font-weight: bold;
  text-align: center;
  padding: 16px;
}

.home--container {
  color: white;  
}

/*
Profile
*/

.profile--container {

}

.profile--userdata {
  text-align: center;
  padding: 16px 0;
}

.profile--username {
  font-weight: bold;
  margin-right: 16px;
}

.profile--nav-posts {
  text-align: center;
}

.profile--button {
  border: none;
  background: none;
  color: white;
  font-size: 1em;
}

.profile--button-active {
  color: orange;
}