/*
All
*/

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: white;
  color: black;  
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

.float-right {
  float: right;
}

input:focus {
  outline: 0;
}

/*
Nav
*/

.nav--container {
  padding: 16px;
  background: #222;
}

.nav--logo {
  font-weight: bold;
  color: white;
  float: left;
}

.nav--signin {
  text-align: right;
}

.nav--signin a {
  color: white;
  text-decoration: none;
  margin-left: 16px;
}

/* 
Footer
*/

.footer--container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px 16px;
  color: white;
  background: #222;
  width: 100%;
}

.footer--container a {
  color: white;
  float: right;
  margin-left: 16px;
  text-decoration: none;
}

/*
AllPosts
*/

.home--container h3 {
  font-weight: bold;
  text-align: center;
  padding: 16px;
}

.home--container {

}

/*
Profile
*/

.profile--container {

}

.profile--userdata {
  text-align: center;
  padding: 16px 0;
}

.profile--userdata img {
  width: 50px;
}

.profile--username {
  font-weight: bold;
  margin-top: 4px;
}

.profile--nav-posts {
  text-align: center;
}

.profile--button {
  border: none;
  background: none;
  color: green;
  font-size: 1em;
  cursor: pointer;
}

.profile--button-active {
  color: black;
}

/* 
New Post
*/

.newpost--container {
  padding: 16px 16px 24px 16px;
  margin: 0;
  text-align: center;
}

.newpost--container input {
  border: none;
  border-bottom: 1px solid gray;
  border-radius: none;
  font-size: 1em;
  padding: 4px 0;
  width: 100%;
  text-align: center;
  margin: 4px 0;
}

.newpost--container input:focus {
  border-bottom: 1px solid green;
}

.newpost--label {
  display: block;
  padding-top: 4px;
  font-weight: bold;
}

.newpost--label span {
  display: block;
}

.newpost--container button {
  border: none;
  background: none;
  color: green;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.newpost--img {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.newpost--img img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.newpost--img span {
  display: block;
  margin: 0;
  padding: 8px 0;
}

/*
postview
*/

.postview--container {
  margin: 16px;
  text-align: center;
}

.postview--image {
  max-width: 100%;
}

.postview--title {
  margin: 8px 0;
}

.postview--from a {
  color: green;
  text-decoration: none;
}

.postview--button {
  background: none;
  border: none;
  margin: 8px 0;
  cursor: pointer;
}

.postview--count {
  font-size: 1.6em;
  position: absolute;
  right: 35px;
  left: 0px;
}