.masonry--grid {
  width: 100%;
  margin: 0 auto;
  padding: 16px 0;
}

.masonry--grid-item {
  width: 47%;
  margin: 0 0 0 2%;
  padding: 0 0 16px 0;
}

.masonry--grid-item-photo {
  width: 100%;
  margin: 0;
  padding: 0;
}

.masonry--grid-item-from {
  float: left;
  margin-top: 4px;
}

.masonry--grid-item-star-button {
  border: none;
  border-radius: none;
  background: none;
  float: right;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.masonry--grid-item-star-button-count {
  position: absolute;
  right: 23px;
  bottom: 18px;
  font-size: 1.25em;
}

.masonry--grid-item-delete-button {
  border: none;
  background: none;
  color: red;
  cursor: pointer;
  font-size: .9em;
  margin: 3px 0;
  padding: 0;
}

.masonry--grid-item a {
  color: green;
  text-decoration: none;
}

@media (min-width: 576px) {
  .masonry--grid-item {
    width: 30.66%;
  }
}

@media (min-width: 768px) {
  .masonry--grid-item {
    width: 22.50%;
  }
}

@media (min-width: 992px) {
  .masonry--grid-item {
    width: 17.60%;
  }
}